<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                <div class="card-body">
                    <h6>비밀번호 혹은 아이디가 잘못 입력되었습니다.</h6>
                    <div class="small"><a href="login"><h5>다시 입력하기</h5></a></div>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="join">회원가입</a></div>
                </div>
            </div>
        </div>
    </div>
</div>